# Payload
PAYLOAD_SECRET=a1b5671f815524ec3f49261d6ca2f22e101e2be1351777035e6a26f20df2533b

# Supabase PostgreSQL (fill in when ready)
DATABASE_URI=postgresql://postgres.bchvwsjcqkiiwroklbdl:Jj8QHT47NiL8Sfjo@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres

# Next.js
NEXT_PUBLIC_SERVER_URL=http://localhost:3000
